
<div id="aboutView">
    <br>
    <br>
    <div align="center"><img src="assets/graphics/logo-2.png"></div>
    <br>
    <strong>Forks Food</strong> is the easiest way to locate farmers markets wherever you may be.  Forks allows you to easily find farmers markets near your current location, or easily search for farmers markets within a state, city, or zipcode.
    <br>
    <br>    
    <strong>Forks Food</strong> was created using <a href="javascript:openExternalURL('http://www.phonegap.com')">PhoneGap</a>, <a href="javascript:openExternalURL('http://www.jquery.com')">jQuery</a>, <a href="javascript:openExternalURL('https://github.com/janl/mustache.js')">Mustache.js</a>, <a href="javascript:openExternalURL('http://triceam.github.com/app-UI')">app-UI</a>, <a href="javascript:openExternalURL('http://leaflet.cloudmade.com/')">Leaflet</a>, <a href="javascript:openExternalURL('http://appicontemplate.com')">App Icon Template</a> and <a href="javascript:openExternalURL('http://openstreetmap.org/')">OpenStreetMap</a>
</div>